body {
    background-color: #333; 
}

.image-all-together {
    width: 400px; 
    height: 250px; 
    margin: 20px auto; 
    color: #fff; 
    position: relative; 
}

.image-all-together span {
    
    position: absolute; 
    background-color: orange;
    transition: .5s; 
}

.image-all-together .one {
    
    left: 0; 
    top: 0; 
    width: 3px;
    /*height: 100%; */
    height: 0; 
}

.image-all-together .two {
    
    left: 0;
    bottom: 0; 
    height: 3px; 
    /*width: 100%; */
    width: 0; 
}

.image-all-together .three {
    bottom: 0; 
    right: 0; 
    width: 3px;
    /*height: 100%; */
    height: 0; 
    
}

.image-all-together .four {
    top: 0; 
    right: 0; 
    height: 3px; 
    /*width: 100%;*/
    width: 0; 
    
}

.image-all-together:hover .one,
.image-all-together:hover .three {
    
    height: 100%; 
}

.image-all-together:hover .two,
.image-all-together:hover .four {
    
    width: 100%; 
}


.image-all-together:hover img {
    
    transition-delay: .5s;
    transition-duration: .5s; 
    opacity: .1; 
}