p {
    font-family: 'Shadows Into Light', cursive; /* al code lkya ytam tsh9el al font */ 
    font-size: 100px; 

}

span {
    font-family: 'Droid Arabic Kufi', sans-serif; /* tsh9al al 5at al 3arby */ 
    font-size: 50px; 
}