* {
    margin: 0; 
    padding: 0; 
}

.gallery {
    width: 300px; 
    height: 250px; 
}

.gallery .images {
    
    position: relative; 
}

.small span {
    
    position: absolute; 
    padding: 5px; 
    background-color: #ddd; 
    border: 1px solid #222; 
    left: 220px; 
    top: 0; 
    display: none; 
}

.small:hover span {
    
    display: block; 
    
}